<nav class="navbar navbar-info" ng-controller="AuthController">
  <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Serwis Manager</a>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
            <ul class="nav navbar-nav navbar-left">
                <li ng-show="authData"><a href="#/orders">Zlecenia</a></li>
                <li ng-show="authData"><a href="#/browse">Klienci</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="authData"><a href="#/login">Login</a></li>
                <li ng-show="authData"><a href="#/register">Dodaj Urzytkownika</a></li>                
                <li ng-show="authData" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="mdi-navigation-expand-more"></span></a>                    
                    <ul class="dropdown-menu">            
                        <li><a href="" data-toggle="modal" data-target="#pasModal">
                            <i class="mdi-action-lock"></i>  Zmień hasło</a></li>
                        <li><a href="#" ng-click="logout()">
                            <i class="mdi-action-exit-to-app"></i>  Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="authData" ng-include="'views/partials/changepass.html'"></div>
</nav>